.html {
    font-family: 'Roboto', sans-serif;
}

.signup-form,
.login-form,
.forgot-password-form,
.reset-password-form,
.verify-email-form {
    background-color: rgb(245, 245, 245);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


/* Header */

.header {
    display: flex;
    flex-direction: column;
    height: auto;
    background-color: #182E49;
    color: #fff;
}

.header__site-header {
    padding: 30px 0;
}

.header__logo {}

.header__right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.header__auth-links {
    font-size: 13px;
    margin-bottom: 15px;
}

.header__links {
    color: #fff;
    display: inline-block;
    text-decoration: none;
    font-weight: 700;
}

.header__links:hover {
    text-decoration: none;
    cursor: pointer;
    color: rgba(255, 255, 255, 0.7);
}

.header__text--spacer {
    margin: 0 8px;
    color: rgba(255, 255, 255, 0.7);
}

.header__profile {
    cursor: pointer;
    color: #fff;
    position: relative;
}

.header__profile:hover {
    color: rgba(255, 255, 255, 0.7);
}

.header__profile:hover .header__profile-list {
    display: block;
}

.header__profile-list {
    position: absolute;
    top: 150%;
    right: 0;
    min-width: 200px;
    z-index: 1;
    background-color: #fff;
    list-style: none;
    margin: 0;
    padding: 0;
    display: none;
    border-radius: 2px;
    box-shadow: 0 1px 2px #e0e0e0;
    transform-origin: calc(100% - 32px) top;
    animation: headerProfileGrowth ease-in 0.1s;
}

.header__profile-list::before {
    content: "";
    border: solid;
    border-width: 20px 27px;
    border-color: transparent transparent var(--white-color) transparent;
    position: absolute;
    right: 0;
    top: -29px;
    z-index: -1;
}

.header__profile-list::after {
    content: "";
    position: absolute;
    top: -10px;
    right: 0;
    height: 10px;
    width: 100px;
    background-color: transparent;
}

.header__profile-item a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: var(--primary-color);
}

.header__profile-item:first-child {
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

.header__profile-item:last-child {
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}

.header__profile-item:hover {
    background-color: rgb(245, 245, 245);
}

@keyframes headerProfileGrowth {
    /* scale: độ to nhỏ */
    from {
        opacity: 0;
        transform: scale(0);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

.header-with-search {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
}

.header__search-bar {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 60%;
    height: 45px;
}

.header__search-input {
    width: 100%;
    height: 100%;
    padding: 10px 45px 10px 10px;
    color: #fff;
    background-color: #0F243D;
    outline: none;
    border: 0;
    border-radius: 2px;
}

.header__search-input::placeholder {
    color: #fff;
    opacity: 1;
}

.header__search-input:hover {
    background-color: #0A1829;
}

.header__search-bar-submit {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    padding: 0 15px;
    background-color: transparent;
    border: 0;
}

.header-btn {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    color: #fff;
    height: 45px;
    min-width: 100px;
    background-color: #0F243D;
    margin-left: 10px;
    text-transform: uppercase;
    border-radius: 2px;
}

.header__cart-btn {
    position: relative;
}

.header__votes-btn {
    width: 180px;
}

.header-btn:hover,.header-btn:focus{
    background-color: #0A1829;
    color: #fff;
    text-decoration: none;
}

.header__cart-count {
    position: absolute;
    top: -4px;
    right: -4px;
    border-radius: 20px;
    color: #0F243D;
    background-color: #DD2525;
    min-width: 20px;
    line-height: 20px;
    font-weight: 700;
    text-align: center;
}

.header__cart-count.header__cart-count--hidden {
    display: none;
}

.header__navbar {
    flex: 1;
}

.header__navbar-wrapper {
    height: 100%;
}

.header__nav-list {
    height: 100%;
    margin: 0 -15px;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: row;
}

.header__nav-item {
    position: relative;
    display: flex;
    align-items: center;
    height: 100%;
}

.header__nav-item--active {
    font-weight: 700;
}

.header__nav-link {
    display: inline-block;
    height: 100%;
    padding: 15px;
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
}

.header__nav-link:hover {
    text-decoration: none;
    color: #fff;
}


/* Footer */

.footer {
    background-color: rgb(245, 245, 245);
    color: #636363;
}

.footer__site-footer {
    padding: 60px 0 6px;
}

.footer__site-footer h3 {
    margin: 0 0 13px 0;
    text-transform: uppercase;
}

.footer__site-footer ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.footer__site-footer li {
    margin-bottom: 4px;
}

.footer__site-footer a {
    color: #636363;
    text-decoration: none;
}

.footer__site-footer a:hover {
    color: #303036;
    text-decoration: none;
}

.footer__legal-links {
    display: flex;
    flex-direction: row;
}

.footer__legal-links li {
    padding-right: 12px;
}


/* carousel */

.main__carousel {
    margin-top: 25px;
    margin-bottom: 50px;
}


/* product-list */

.product-list__header {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 20px;
}

.product-list__header-left {
    margin: 0;
    width: 70%;
    text-transform: uppercase;
}

.product-list__header-right {
    text-align: right;
    width: 30%;
}

.product-list__header-right a {
    text-decoration: none;
    color: #5290C3;
}

.product-list__header-right a:hover {
    text-decoration: none;
    color: #8AB3DD;
}

.product-list__main {}

.product-list-item {
    background-color: #fff;
    display: block;
    text-decoration: none;
    margin-bottom: 30px;
}

.product-list-item:hover {
    text-decoration: none;
}

.product-list-item:hover .product-list-item__img {
    opacity: 0.9;
}

.product-list-item:focus {
    text-decoration: none;
}

.product-list-item__img {
    padding-top: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top center;
}

.product-list-item__name {
    color: #585858;
    font-weight: 400;
}

.product-list-item__price {
    color: #000;
    font-size: 20px;
    font-weight: 700;
}

.product-list-item__votes {
    color: #585858;
}

.product-list-item__vote-icon {
    color: #DD2525;
}

/* toast */
#toast{
    position: fixed;
    top: 32px;
    right: 32px;
    z-index: 2;
}

/* product page */
.product_images-wrapper {
    padding-top: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top center;
    transition: all linear .1s;
}
.product_images-wrapper--hidden {
    display: none;
}

.product_images-thumb {
    
}

.product_images-thumb-item {
    cursor: pointer;
    padding-top: 25%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top center;
}

.product_name {
    text-transform: uppercase;
    font-size: 20px;
}

.product_meta {
    list-style: none;
    padding: 0;
    margin: 0;
    display: inline-flex;
    align-items: center;
}

.product_price {
    font-size: 28px;
    font-weight: 700;
    margin-right: 20px;
}

.product_votes {
    font-size: 18px;
}
.product_votes a{
    text-decoration: none;
    color: #585858;
}
.product_votes i {
    color: #DD2525;
}
.product_votes-remove-link{
    display: none;
}
.product_votes--voted .product_votes-add-link{
    display: none;
}
.product_votes--voted .product_votes-remove-link{
    display: block;
}

.product_payment-form {
    margin-top: 20px;
}

.product_payment-buttons {
    max-width: 30%;
}

/* box-comment */
.box-comment {
    margin-bottom: 20px;
}

.box-comment__title {
    font-size: 24px;
    text-transform: uppercase;
}

.box-comment__count {
    font-size: 14px;
    font-weight: 300;
    text-transform: lowercase;
}

.box-comment__list-title {
    font-size: 16px;
}

.box-comment__list-textarea{
    position: relative;
}

.box-comment__list-textarea textarea{
    width: 100%;
    background: #f3f5f8;
    height: 120px;
    padding: 16px;
    border-radius: 2px;
    resize: none;
    outline: 0;
    border: solid 1px transparent;
}

.box-comment__list-textarea textarea:focus,
.box-comment__list-textarea textarea:hover {
    border: solid 1px var(--primary-color);
    transition: all linear .3s;
}

.box-comment__list-textarea button {
    position: absolute;
    bottom: 15px;
    right: 10px;
    width: 80px;
}

.box-comment__list-item {
    margin-top: 20px;
    border-bottom: solid 1px var(--border-color);
    padding-bottom: 40px;
}

.box-comment__avatar-text {
    width: 72px;
    height: 72px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 16px;
    line-height: 72px;
    font-weight: 600;
    font-size: 18px;
    text-align: center;
    background-color: #e3e7ef;
    float: left;
}

.box-comment__main p{
    margin: 0;
}

.box-comment__user-name {
    margin: 0 0 10px 0;
}

/* cart page */

.cart__header {
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 600;
}

.cart__header-count {
    text-transform: lowercase;
    font-size: 14px;
    font-weight: 300;
}

.cart__empty{
    display: none;
}

.cart--empty .cart__main{
    display: none;
}
.cart--empty .cart__empty{
    display: block;
}

.cart__list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.cart__list-item {
    padding: 20px;
    display: flex;
}

.cart-item__img {
    width: 130px;
    padding-top: 25%;
    margin-right: 20px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top center;
}

.cart-item__content {
    flex: 1;
    display: flex;
}

.cart-item__desc {
    flex: 1;
}

.cart-item__product-name{
    margin-bottom: 10px;
}

.cart-item__product-name a{
    color: var(--text-color);
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    
}

.cart-item__product-name a:hover{
    color: rgb(13, 92, 182);
}

.cart-item__actions a{
    color: rgb(10, 75, 145);
}

.cart-item__details{
    display: flex;
}
.cart-item__price {
    font-size: 16px;
    font-weight: 700;
    margin-right: 20px;
}
.cart-item__quantity{
    display: inline-block;
}
.cart-item__quantity--inner{
    border: solid 1px var(--border-color);
    border-radius: 2px;
    height: 34px;
}
.cart-item__quantity input {
    max-width: 40px;
    height: 100%;
    box-sizing: border-box;
    border: solid 1px transparent;
    text-align: center;
}
.cart-item__quantity-descrease, .cart-item__quantity-increase{
    display: inline-block;
    cursor: pointer;
    padding: 0 10px;
    font-size: 18px;
    color: rgba(0, 0, 0, 0.4);
    user-select: none;
}

.cart__address-heading, .cart__total-text {
    font-weight: 600;
    font-size: 12px;
}

.cart__address-title {
    margin: 0;
    line-height: 100%;
    font-size: 16px;
}

.cart__address-name {
    margin-right: 10px;
}

.cart__address-name::after {
    content: "";
    width: 1px;
    height: 15px;
    background: rgb(224, 224, 224);
    display: inline-block;
    vertical-align: top;
    margin-left: 10px;
}

.cart__address-content{
    margin-top: 12px;
    display: block;
}

.cart__total-value {
    display: block;
    font-size: 24px;
}

.cart__submit{
    margin: 20px 0;
}

.cart__empty-img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.cart__empty-message{
    text-align: center;
    font-size: 20px;
    color: var(--text-color);
}

/* search page */
.search_header{
    margin-top: 36px;
}
.search_text {
    text-transform: uppercase;
    text-align: center;
    font-size: 18px;
    
}

.search-bar{
    position: relative;
    display: flex;
    flex-direction: row;
    width: 50%;
    height: 40px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
}

.search-bar_input {
    width: 100%;
    height: 100%;
    color: #757579;
    background-color:  rgba(238,238,238,1);
    outline: none;
    border: 0;
    border-radius: 2px;
    padding: 0 10px;
}

.search-bar_input:hover,.search-bar_input:focus{
    background-color: rgba(238,238,238,.5);
}

.search-bar_submit {
    position: absolute;
    top: 2px;
    right: 0;
    height: 100%;
    padding: 0 15px;
    background-color: transparent;
    border: 0;
}

.profile-form{
    width: 40%;
    margin: 20px 0;
}

.profile__heading{
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 600;
}

/* oreder */
.order__title {
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 600;
}

.order__header {
    font-size: 20px;
}

.order__section-header{
    display: flex;
    justify-content: space-between;
}

.order__details {
    list-style: none;
    margin: 0;
    padding: 0;
}

.order__details-item {
    padding: 10px;
    margin: 5px 0;
    background-color: rgba(238,238,238,.7);
    border-radius: 5px;
}
.order__details-item:hover {
    background-color: rgba(238,238,238,.5);
}

.order__details-item-name {
    font-size: 13px;
    font-weight: 600;
    margin-bottom: 10px;
}

.order__total-price{
    display: flex;
    justify-content: space-between;
}
.order__total-price-number{
    color: var(--danger-color);
    font-size: 28px;
}

.order__messages-wrapper{
    margin: 70px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.order__messages {
    font-size: 24px;
    font-weight: 600;
}

.order__thank-you {
    font-size: 24px;
}

.order__redirect-btn{
    width: 300px;
    margin-top: 20px;
}

/* favourites */
.favourites__list{
    list-style: none;
    padding: 0;
    margin: 0;
}
.favourites__item {
    background-color: rgba(238,238,238,.5);
    border-radius: 5px;
    margin: 10px 0;
    padding: 20px;
    display: flex;
}

.favourites__item:hover {
    background-color:  rgba(238,238,238,.7);
    transition: all ease-in .2s;
}
.favourites-item__img{
    width: 80%;
    padding-top: 10%;
    margin-right: 20px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top center;
}
.favourites-item__product-name a{
    font-size: 24px;
    font-weight: 500;
    color: var(--text-color);
    text-decoration: none;
}
.favourites-item__product-name a:hover{
    color: var(--text-color);
    text-decoration: none;
}

.favourites-item__price{
    font-size: 18px;
    font-weight: 600;
}
.favourites-item__desc{
    white-space: nowrap; 
    width: 70vw; 
    overflow: hidden;
    text-overflow: ellipsis;
}