:root {
    --primary-color: #528EC1;
    --danger-color: #f33a58;
    --white-color: #fff;
    --black-color: #000;
    --text-color: #333;
    --border-color: #dbdbdb;
}

.html {
    font-family: 'Roboto', sans-serif;
}


/* button */

.btn {
    outline: none;
    padding: 12px 16px;
    font-weight: 400;
    color: #fff;
    border: none;
    width: 100%;
    font-size: 14px;
    text-transform: uppercase;
    cursor: pointer;
}

.btn:hover {
    opacity: 0.9;
}

.btn-primary {
    background-color: var(--primary-color);
}

.btn-outline-primary {
    background-color: transparent;
    color: var(--primary-color);
    border: solid 2px var(--primary-color);
}


/* form */

.form {
    width: 460px;
    min-height: 100px;
    padding: 32px 24px;
    text-align: center;
    background: #fff;
    border-radius: 2px;
    margin: 24px;
    align-self: center;
    box-shadow: 0 2px 5px 0 rgba(51, 62, 73, 0.1);
}

.form .heading {
    font-size: 23px;
}

.form .desc {
    text-align: center;
    color: #636d77;
    font-size: 16px;
    font-weight: lighter;
    line-height: 24px;
    margin-top: 16px;
    font-weight: 300;
}

.form-group {
    display: flex;
    margin-bottom: 16px;
    flex-direction: column;
}

.form-group.form-checkbox {
    flex-direction: row;
    align-items: center;
}

.form-group.form-checkbox .form-label {
    padding: 0;
    margin-left: 10px;
}

.form-label,
.form-message {
    text-align: left;
}

.form-label {
    font-weight: 650;
    padding-bottom: 6px;
    line-height: 18px;
    font-size: 14px;
}

.form-control {
    height: 40px;
    padding: 8px 12px;
    border: 1px solid #b3b3b3;
    border-radius: 3px;
    outline: none;
    font-size: 14px;
}

.form-control:hover {
    border-color: var(--primary-color);
}

.form-control.invalid {
    border-color: var(--danger-color);
}

.form-control.invalid~.form-message {
    color: var(--danger-color);
}

.form-message {
    font-size: 12px;
    line-height: 1.6rem;
    padding: 4px 0 0;
}

.form-vertical form {
    display: flex;
    flex-direction: row;
}

.form-vertical .form-control {
    flex: 1;
}

.form-vertical button {
    height: 40px;
    width: 30%;
    outline: none;
    border: 0;
    margin-left: 2px;
    text-transform: uppercase;
    background-color: #DCDCDC;
}

.form-vertical button:hover {
    background-color: #C3C3C3;
}


/* alert */

.alert {
    border: 0;
    border-radius: 3px;
    color: #FFFFFF;
    padding-top: .9rem;
    padding-bottom: .9rem;
    position: relative;
}

.alert.alert-success {
    background-color: #7ed6a5;
}

.alert.alert-danger {
    background-color: #f1926e;
}

.alert.alert-warning {
    background-color: #fccf71;
}

.alert.alert-info {
    background-color: #66c4de;
}

.alert.alert-primary {
    background-color: #65d1d4;
}

.alert.alert-default {
    background-color: #736e67;
}

.alert.alert-with-icon {
    padding-left: 65px;
}

.small-hr {
    margin: 10px 0;
}


/* carousel */

.carousel {
    background: #fff;
}

.carousel-cell {
    width: 66%;
    height: 200px;
    margin-right: 10px;
    background: #528EC1;
    border-radius: 5px;
    counter-increment: gallery-cell;
}

.carousel-cell:before {
    display: block;
    text-align: center;
    content: counter(gallery-cell);
    line-height: 200px;
    font-size: 80px;
    color: white;
}

/* toast message */
.toast{
    min-width: 400px;
    max-width: 450px;
    display: flex;
    align-items: center;
    background-color: #fff;
    padding: 20px 0;
    border-radius: 2px;
    border-left: 4px solid;
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.08);
    animation: slideInLeft ease 0.3s;
    transition: all linear .1s;
}
@keyframes slideInLeft{
    from {
        opacity: 0;
        transform: translateX(calc(100% + 32px));
    }
    to{
        opacity: 1;
        transform: translateX(0);
    }
}

.toast + .toast {
    margin-top: 20px;
}
.toast__icon,
.toast__close{
    padding: 0 16px;
}
.toast__icon{
    font-size: 24px;
}
.toast__body{
    flex-grow: 1;
}
.toast__title{
    margin: 0;
    font-size: 16px;
    font-weight: 600;
    color: #333;
}
.toast__message{
    margin: 0;
    font-size: 14px;
    color: #888;
    margin-top: 6px;
    line-height: 1.5;
}
.toast__close{
    font-size: 20px;
    color: rgba(0, 0, 0, 0.3);
    cursor: pointer;
}
.toast__close:hover{
    color: rgba(0, 0, 0, 0.4);
}
.toast--success{
    border-color: #47d864;
}
.toast--success .toast__icon{
    color: #47d864;
}

.toast--info{
    border-color: #2f86eb;
}
.toast--info .toast__icon{
    color: #2f86eb;
}

.toast--warning{
    border-color: #ffc021;
}
.toast--warning .toast__icon{
    color: #ffc021;
}

.toast--error{
    border-color: #ff623d;
}
.toast--error .toast__icon{
    color: #ff623d;
}

/* breadcrumb */
.breadcrumb {
    font-size: 13px;
    border-bottom: 1px solid #ececec;
    margin-bottom: 30px;
    height: 52px;
}
.breadcrumb a:first-child, .breadcrumb span:first-child {
    padding-left: 0;
}
.breadcrumb a, .breadcrumb span {
    display: inline-block;
    padding: 15px 7px 15px 0;
    margin-right: 7px;
    overflow: hidden;
}
.breadcrumb a {
    color: #585858;
    text-decoration: none;
}