:root {
    --primary-color: #528EC1;
    --danger-color: #f33a58;
    --white-color: #fff;
    --black-color: #000;
    --text-color: #333;
    --border-color: #dbdbdb;
}

.html {
    font-family: 'Roboto', sans-serif;
}


/* button */

.btn {
    outline: none;
    padding: 12px 16px;
    font-weight: 400;
    color: #fff;
    border: none;
    width: 100%;
    font-size: 14px;
    text-transform: uppercase;
    cursor: pointer;
}

.btn:hover {
    opacity: 0.9;
}

.btn-primary {
    background-color: var(--primary-color);
}

.btn-outline-primary {
    background-color: transparent;
    color: var(--primary-color);
    border: solid 2px var(--primary-color);
}


/* form */

.form {
    width: 460px;
    min-height: 100px;
    padding: 32px 24px;
    text-align: center;
    background: #fff;
    border-radius: 2px;
    margin: 24px;
    align-self: center;
    box-shadow: 0 2px 5px 0 rgba(51, 62, 73, 0.1);
}

.form .heading {
    font-size: 23px;
}

.form .desc {
    text-align: center;
    color: #636d77;
    font-size: 16px;
    font-weight: lighter;
    line-height: 24px;
    margin-top: 16px;
    font-weight: 300;
}

.form-group {
    display: flex;
    margin-bottom: 16px;
    flex-direction: column;
}

.form-group.form-checkbox {
    flex-direction: row;
    align-items: center;
}

.form-group.form-checkbox .form-label {
    padding: 0;
    margin-left: 10px;
}

.form-label,
.form-message {
    text-align: left;
}

.form-label {
    font-weight: 650;
    padding-bottom: 6px;
    line-height: 18px;
    font-size: 14px;
}

.form-control {
    height: 40px;
    padding: 8px 12px;
    border: 1px solid #b3b3b3;
    border-radius: 3px;
    outline: none;
    font-size: 14px;
}

.form-control:hover {
    border-color: var(--primary-color);
}

.form-control.invalid {
    border-color: var(--danger-color);
}

.form-control.invalid~.form-message {
    color: var(--danger-color);
}

.form-message {
    font-size: 12px;
    line-height: 1.6rem;
    padding: 4px 0 0;
}

.form-vertical form {
    display: flex;
    flex-direction: row;
}

.form-vertical .form-control {
    flex: 1;
}

.form-vertical button {
    height: 40px;
    width: 30%;
    outline: none;
    border: 0;
    margin-left: 2px;
    text-transform: uppercase;
    background-color: #DCDCDC;
}

.form-vertical button:hover {
    background-color: #C3C3C3;
}


/* alert */

.alert {
    border: 0;
    border-radius: 3px;
    color: #FFFFFF;
    padding-top: .9rem;
    padding-bottom: .9rem;
    position: relative;
}

.alert.alert-success {
    background-color: #7ed6a5;
}

.alert.alert-danger {
    background-color: #f1926e;
}

.alert.alert-warning {
    background-color: #fccf71;
}

.alert.alert-info {
    background-color: #66c4de;
}

.alert.alert-primary {
    background-color: #65d1d4;
}

.alert.alert-default {
    background-color: #736e67;
}

.alert.alert-with-icon {
    padding-left: 65px;
}